version: 2.1

executors:
  node-executor:
    docker:
      - image: cimg/node:22.14
    working_directory: ~/repo

jobs:
  build:
    executor: node-executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build project
          command: npm run build

  deploy:
    executor: node-executor
    steps:
      - add_ssh_keys
      - run:
          name: Verify SSH connection
          command: ssh -o StrictHostKeyChecking=no deployer@$SERVER_IP "echo 'SSH connection successful'"
      - run:
          name: Deploy to VPS
          command: |
            ssh -o StrictHostKeyChecking=no deployer@${SERVER_IP} "\
              cd ~/streaming-api || git clone git@github.com:oscarbrehier/streaming-api.git ~/streaming-api && \
              cd ~/streaming-api && \
              git pull origin main && \
              npm install && \
              npm ci && \
              npm run build && \
              docker compose up -d redis && \
              pm2 restart streaming-api || pm2 start dist/src/server.js --name streaming-api
            "

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
